<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>res</key>
	<dict>
		<key>tex</key>
		<array>
			<string>bg_stone1.png</string>
		</array>
		<key>ss</key>
		<array>
			<string>dungeon1</string>
		</array>
	</dict>
	<key>effect</key>
	<dict>
		<key>light</key>
		<dict>
			<key>object</key>
			<dict>
				<key>torch</key>
				<dict>
					<key>color</key>
					<string>255,50,0</string>
					<key>size</key>
					<string>130,90</string>
				</dict>
			</dict>
			<key>spot</key>
			<dict>
				<key>brightness</key>
				<string>2</string>
				<key>color</key>
				<string>255,255,255</string>
				<key>depth</key>
				<string>100</string>
				<key>halfRadius</key>
				<string>0.2</string>
				<key>cutOffRadius</key>
				<string>150</string>
			</dict>
			<key>ambiantColor</key>
			<string>120,120,120</string>
		</dict>
	</dict>
	<key>design</key>
	<dict>
		<key>warp</key>
		<dict>
			<key>left</key>
			<dict>
				<key>bounds</key>
				<string>0,0,48,32</string>
				<key>tile</key>
				<string>exit_left_warp</string>
			</dict>
			<key>right</key>
			<dict>
				<key>bounds</key>
				<string>0,0,48,32</string>
				<key>tile</key>
				<string>exit_right_warp</string>
			</dict>
			<key>up</key>
			<dict>
				<key>bounds</key>
				<string>0,0,32,48</string>
				<key>tile</key>
				<string>exit_top_warp</string>
			</dict>
			<key>down</key>
			<dict>
				<key>bounds</key>
				<string>0,0,32,16</string>
				<key>tile</key>
				<string>exit_bottom_warp</string>
			</dict>
		</dict>
		<key>gate</key>
		<dict>
			<key>left</key>
			<dict>
				<key>bounds</key>
				<string>0,0,48,32</string>
				<key>tile</key>
				<string>exit_left_gate</string>
			</dict>
			<key>right</key>
			<dict>
				<key>bounds</key>
				<string>0,0,48,32</string>
				<key>tile</key>
				<string>exit_right_gate</string>
			</dict>
			<key>up</key>
			<dict>
				<key>bounds</key>
				<string>0,0,32,48</string>
				<key>tile</key>
				<string>exit_top_gate</string>
			</dict>
			<key>down</key>
			<dict>
				<key>bounds</key>
				<string>0,0,32,16</string>
				<key>tile</key>
				<string>exit_bottom_gate</string>
			</dict>
		</dict>
		<key>bg_tiles</key>
		<array>
			<string>bg_stone1.png</string>
		</array>
		<key>bg_color</key>
		<string>163,160,143</string>
	</dict>
	<key>layout</key>
	<dict>
		<key>start_nb_gates</key>
		<string>2,2</string>
		<key>max_depth</key>
		<string>6</string>
		<key>min_depth</key>
		<string>4</string>
		<key>width</key>
		<string>10000</string>
		<key>height</key>
		<string>10000</string>
	</dict>
	<key>rooms</key>
	<dict>
		<key>empty</key>
		<array>
			<string>rd1-e1</string>
		</array>
		<key>common</key>
		<array>
			<string>rd1-c7</string>
			<string>rd1-c6</string>
			<string>rd1-c5</string>
			<string>rd1-c4</string>
			<string>rd1-c3</string>
			<string>rd1-c2</string>
			<string>rd1-c1</string>
		</array>
	</dict>
</dict>
</plist>
