<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>layout</key>
	<dict>
		<key>maxDepth</key>
		<string>5</string>
		<key>minDepth</key>
		<string>3</string>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>200</integer>
	</dict>
	<key>background</key>
	<dict>
		<key>color</key>
		<string>163,160,143</string>
		<key>tiles</key>
		<array>
			<string>floor_tile_fill_1.png</string>
		</array>
	</dict>
	<key>rooms</key>
	<dict>
		<key>start</key>
		<array>
			<string>w1s1</string>
		</array>
		<key>content</key>
		<array>
			<string>w1c4</string>
			<string>w1c3</string>
			<string>w1c2</string>
			<string>w1c1</string>
			<string>w1r1</string>
			<string>w1r2</string>
			<string>w1r3</string>
			<string>w1r4</string>
			<string>w1r5</string>
			<string>w1r6</string>
			<string>w1r7</string>
			<string>w1r8</string>
			<string>w1r9</string>
			<string>w1r10</string>
			<string>w1r11</string>
			<string>w1r12</string>
			<string>w1r13</string>
		</array>
		<key>end</key>
		<array>
			<string>w1e1</string>
			<string>w1e2</string>
			<string>w1e3</string>
			<string>w1e4</string>
		</array>
	</dict>
</dict>
</plist>
