<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gold1</key>
	<dict>
		<key>isCurrency</key>
		<true/>
		<key>currencyValue</key>
		<integer>1</integer>
		<key>spriteName</key>
		<string>gold_1.png</string>
		<key>spriteRotate</key>
		<false/>
	</dict>
	<key>gold2</key>
	<dict>
		<key>isCurrency</key>
		<true/>
		<key>currencyValue</key>
		<integer>2</integer>
		<key>spriteName</key>
		<string>gold_2.png</string>
		<key>spriteRotate</key>
		<false/>
	</dict>
	<key>gold4</key>
	<dict>
		<key>isCurrency</key>
		<true/>
		<key>currencyValue</key>
		<integer>4</integer>
		<key>spriteName</key>
		<string>gold_3.png</string>
		<key>spriteRotate</key>
		<false/>
	</dict>
	<key>gold8</key>
	<dict>
		<key>isCurrency</key>
		<true/>
		<key>currencyValue</key>
		<integer>8</integer>
		<key>spriteName</key>
		<string>gold_4.png</string>
		<key>spriteRotate</key>
		<false/>
	</dict>
	<key>gold16</key>
	<dict>
		<key>isCurrency</key>
		<true/>
		<key>currencyValue</key>
		<integer>16</integer>
		<key>spriteName</key>
		<string>gold_5.png</string>
		<key>spriteRotate</key>
		<false/>
	</dict>
	<key>treasure_cup</key>
	<dict>
		<key>currencyValue</key>
		<integer>100</integer>
		<key>stackability</key>
		<integer>1</integer>
		<key>spriteName</key>
		<string>gold_6.png</string>
		<key>spriteRotate</key>
		<true/>
	</dict>
</dict>
</plist>
