<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat_atk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,3},{30,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,19}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>bat_atk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,3},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>bat_atk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,104},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>bat_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,59},{30,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,19}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>bat_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,3},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>bat_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,104},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>boy_atk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,26},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,3},{22,26}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{22,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,3},{16,28}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{16,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,3},{14,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{14,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,29},{16,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,3},{20,26}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{20,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,28},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{26,24}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{26,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,28},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_left5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,57},{20,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,29},{24,24}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,56},{22,24}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,59},{14,30}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{14,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,93},{14,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{14,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,55},{20,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_death1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,21},{16,22}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{16,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_death2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,23},{22,22}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{22,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_death3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,104},{24,20}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{24,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_death4.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,3},{26,20}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{26,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_death5.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,3},{26,16}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{26,16}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_death6.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,82},{26,18}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{26,18}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_death7.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,84},{26,16}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{26,16}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,83},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,83},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,83},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,29},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,27},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,27},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,105},{20,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,105},{20,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,105},{20,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,55},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,27},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,55},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,21},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,23},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,49},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,77},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,49},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,77},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>char1d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,54},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,23},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,39},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,41},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,51},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,49},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,58},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,74},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,75},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1u1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,91},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1u2.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,92},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1u3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,108},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>target_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,105},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>target_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,92},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>zomb_atk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,27},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,3},{22,26}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{22,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,3},{16,28}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{16,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,3},{14,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{14,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,85},{16,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,3},{20,26}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{20,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,27},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,31},{26,24}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{26,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,56},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_left5.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,105},{20,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,57},{24,24}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,55},{22,24}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,3},{14,30}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{14,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,93},{14,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{14,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,105},{20,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_death1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,49},{16,22}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{16,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_death2.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,23},{22,22}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{22,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_death3.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,105},{24,20}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{24,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_death4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,3},{26,20}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{26,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_death5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,85},{26,16}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{26,16}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_death6.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,83},{26,18}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{26,18}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_death7.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,85},{26,16}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{26,16}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,83},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,21},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,21},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,57},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,55},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,55},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,105},{20,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,105},{20,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,105},{20,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,75},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,49},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,77},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,77},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,56},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,105},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,105},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,109},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,109},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss-char.png</string>
            <key>size</key>
            <string>{511,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9fc29c0a2f6f77739939a80dee12117:2f726aaaf400a3065a61aa84cb42daf1:6f57d7171c6bbd144780ef543672a5bb$</string>
            <key>textureFileName</key>
            <string>ss-char.png</string>
        </dict>
    </dict>
</plist>
