<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,3},{30,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,19}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>bat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,3},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>bat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,3},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>boy_atk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,3},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,33},{22,26}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{22,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,39},{16,28}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{16,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,3},{14,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{14,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,3},{16,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,35},{20,26}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{20,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,31},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,3},{26,24}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{26,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,3},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_left5.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,31},{20,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,31},{24,24}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,33},{22,24}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,3},{14,30}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{14,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{14,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{14,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,3},{20,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,37},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,37},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,31},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,3},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,31},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,3},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,31},{20,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,3},{20,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,31},{20,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,31},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,31},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,3},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,31},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,3},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,31},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,3},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,31},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,3},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>char1d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,31},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,31},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,31},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,31},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1u1.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,31},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1u2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1u3.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,31},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>target_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,21},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>target_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,38},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>zomb_atk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,31},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,33},{22,26}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{22,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,39},{16,28}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{16,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,3},{14,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{14,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,3},{16,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,3},{20,26}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{20,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,3},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,3},{26,24}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{26,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,31},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_left5.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,3},{20,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,3},{24,24}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,3},{22,24}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,3},{14,30}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{14,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,3},{14,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{14,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,31},{20,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,31},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,3},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,31},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,31},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,3},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,31},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,3},{20,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,31},{20,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,3},{20,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,31},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,3},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,31},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,3},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,31},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,3},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,31},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,3},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,31},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss-char.png</string>
            <key>size</key>
            <string>{929,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddada8a9f7e57e202c5ec3e57672c906:0584777401d060a4d4bb9fbc04b26684:6f57d7171c6bbd144780ef543672a5bb$</string>
            <key>textureFileName</key>
            <string>ss-char.png</string>
        </dict>
    </dict>
</plist>
