<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alt_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,239},{110,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,94}}</string>
                <key>sourceSize</key>
                <string>{110,94}</string>
            </dict>
            <key>arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,753},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,753},{55,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,39}}</string>
                <key>sourceSize</key>
                <string>{55,39}</string>
            </dict>
            <key>bar-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,557},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>bar-m.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,665},{1,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,24}}</string>
                <key>sourceSize</key>
                <string>{1,24}</string>
            </dict>
            <key>bar-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,597},{10,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{10,24}</string>
            </dict>
            <key>health_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,625},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>health_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,645},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>ico_run.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,437},{80,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico_sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,519},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico_target_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,597},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ico_target_sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,675},{74,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>joystick.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,128},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>joystick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,353},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>main_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{121,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,103}}</string>
                <key>sourceSize</key>
                <string>{121,103}</string>
            </dict>
            <key>stamina_empty-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,585},{4,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,8}}</string>
                <key>sourceSize</key>
                <string>{4,8}</string>
            </dict>
            <key>stamina_empty-m.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,693},{1,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,8}}</string>
                <key>sourceSize</key>
                <string>{1,8}</string>
            </dict>
            <key>stamina_empty-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,345},{4,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,8}}</string>
                <key>sourceSize</key>
                <string>{4,8}</string>
            </dict>
            <key>stamina_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,239},{102,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,8}}</string>
                <key>sourceSize</key>
                <string>{102,8}</string>
            </dict>
            <key>stamina_full-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,353},{4,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,8}}</string>
                <key>sourceSize</key>
                <string>{4,8}</string>
            </dict>
            <key>stamina_full-m.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,459},{94,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,8}}</string>
                <key>sourceSize</key>
                <string>{94,8}</string>
            </dict>
            <key>stamina_full-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,585},{4,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,8}}</string>
                <key>sourceSize</key>
                <string>{4,8}</string>
            </dict>
            <key>stamina_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,353},{102,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,8}}</string>
                <key>sourceSize</key>
                <string>{102,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss-gui.png</string>
            <key>size</key>
            <string>{113,811}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:257f2947226a6167a2ea7c5e5a50313a:542db7f103bcd70a025b0634d92c9305:a4a8dc354fb26ac8c6b8071137f37162$</string>
            <key>textureFileName</key>
            <string>ss-gui.png</string>
        </dict>
    </dict>
</plist>
