<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,43},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>bat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,188},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>bat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,236},{7,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{7,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>boy_atk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,205},{12,12}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,62},{12,14}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{12,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,3},{10,14}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{10,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,39},{8,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,188},{8,12}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,21},{10,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{10,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,80},{14,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,98},{14,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,116},{14,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_left5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,221},{12,12}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,237},{12,12}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,253},{12,12}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{8,16}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,23},{8,16}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,269},{12,12}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_target_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,285},{10,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_target_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,301},{10,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_target_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,317},{10,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_target_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,134},{14,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_target_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,152},{14,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_target_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,170},{14,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_target_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,333},{10,12}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_target_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,349},{10,12}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_target_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,365},{10,12}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_walk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,381},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_walk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,397},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_walk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,381},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_walk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,285},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_walk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,301},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_walk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,317},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_walk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,333},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_walk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,349},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_walk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,365},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>char1d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,57},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,73},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,89},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,105},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,121},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,137},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,153},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,169},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,397},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1u1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,409},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1u2.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,204},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1u3.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,220},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>target_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,251},{10,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,7}}</string>
                <key>sourceSize</key>
                <string>{10,7}</string>
            </dict>
            <key>target_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,265},{10,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,7}}</string>
                <key>sourceSize</key>
                <string>{10,7}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss-char.png</string>
            <key>size</key>
            <string>{29,419}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:772bf55cc4ddec5ecefe804cc69ee0c9:9c478d4393c32c3bc9e960d0f686a579:6f57d7171c6bbd144780ef543672a5bb$</string>
            <key>textureFileName</key>
            <string>ss-char.png</string>
        </dict>
    </dict>
</plist>
