<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,227},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>bat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,235},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>bat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,732},{7,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{7,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>boy_atk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,252},{12,12}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,195},{12,14}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{12,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,246},{10,14}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{10,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,83},{8,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,155},{8,12}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,264},{10,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{10,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{14,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,19},{14,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,35},{14,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_left5.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,268},{12,12}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,284},{12,12}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,300},{12,12}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,3},{8,16}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,23},{8,16}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_atk_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,316},{12,12}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_death1.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,171},{8,12}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_death2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,332},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_death3.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,318},{14,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{14,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_death4.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,336},{14,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{14,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_death5.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,119},{14,8}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{14,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_death6.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,354},{14,10}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{14,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_death7.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,372},{14,10}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{14,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_target_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,458},{10,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_target_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,460},{10,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_target_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,472},{10,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_target_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,51},{14,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_target_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,67},{14,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_target_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,83},{14,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_target_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,476},{10,12}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_target_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,486},{10,12}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_target_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,492},{10,12}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_walk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,187},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_walk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,203},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_walk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,219},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_walk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,444},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_walk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,542},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_walk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,554},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_walk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,556},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_walk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,566},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boy_walk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,572},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>char1d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,652},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,662},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,668},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,673},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,684},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,684},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,695},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,700},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,706},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1u1.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,716},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1u2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,717},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>char1u3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,728},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>target_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,739},{10,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,7}}</string>
                <key>sourceSize</key>
                <string>{10,7}</string>
            </dict>
            <key>target_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,747},{10,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,7}}</string>
                <key>sourceSize</key>
                <string>{10,7}</string>
            </dict>
            <key>zomb_atk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,348},{12,12}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_atk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,211},{12,14}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{12,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_atk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,282},{10,14}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{10,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_atk_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,101},{8,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_atk_down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,578},{8,12}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_atk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,300},{10,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{10,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_atk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,99},{14,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_atk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,115},{14,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_atk_left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,131},{14,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_atk_left5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,364},{12,12}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_atk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,380},{12,12}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_atk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,396},{12,12}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_atk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,43},{8,16}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_atk_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,63},{8,16}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_atk_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,412},{12,12}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_death1.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,588},{8,12}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_death2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,428},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_death3.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,390},{14,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{14,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_death4.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,408},{14,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{14,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_death5.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,137},{14,8}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{14,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_death6.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,426},{14,10}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{14,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_death7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,444},{14,10}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{14,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_target_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,500},{10,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_target_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,508},{10,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_target_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,514},{10,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_target_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,147},{14,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_target_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,163},{14,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_target_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,179},{14,12}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_target_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,524},{10,12}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_target_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,528},{10,12}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_target_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,540},{10,12}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_walk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,590},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_walk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,602},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_walk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,604},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_walk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,614},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_walk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,620},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_walk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,626},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_walk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,636},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_walk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,638},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zomb_walk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,650},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss-char.png</string>
            <key>size</key>
            <string>{32,757}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e833fab406e6ef408f141b86959fba3:b20bef72354e500e36b2425f0db4744e:6f57d7171c6bbd144780ef543672a5bb$</string>
            <key>textureFileName</key>
            <string>ss-char.png</string>
        </dict>
    </dict>
</plist>
