<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,3},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,3},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>joystick.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,3},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>joystick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,3},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>main_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{61,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,52}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>main_frame_bot_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,3},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>main_frame_bot_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,47},{37,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{37,10}}</string>
                <key>sourceSize</key>
                <string>{37,12}</string>
            </dict>
            <key>main_frame_bot_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,19},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>main_frame_left_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,27},{10,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,28}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>main_frame_right_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,3},{10,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{10,28}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>main_frame_top_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,41},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>main_frame_top_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,47},{37,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,10}}</string>
                <key>sourceSize</key>
                <string>{37,12}</string>
            </dict>
            <key>main_frame_top_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,35},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss-gui.png</string>
            <key>size</key>
            <string>{255,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23e5e224e3a1dca00a6be0dc5c2670a8:1155325db4c12c40b599d23016511820:a4a8dc354fb26ac8c6b8071137f37162$</string>
            <key>textureFileName</key>
            <string>ss-gui.png</string>
        </dict>
    </dict>
</plist>
