<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,3},{30,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,19}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>bat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,3},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>bat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,3},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>boy_walk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,3},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,3},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,3},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,3},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,3},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,3},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,3},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,3},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>char1d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1u1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1u2.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1u3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss-char.png</string>
            <key>size</key>
            <string>{450,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8d696b7954911c570da71b779b402a3:b4bd324f09c426a66be2817d76d1ee66:6f57d7171c6bbd144780ef543672a5bb$</string>
            <key>textureFileName</key>
            <string>ss-char.png</string>
        </dict>
    </dict>
</plist>
