<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,3},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>bat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,3},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>bat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,3},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>char1d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1u1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1u2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1u3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,3},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss-char.png</string>
            <key>size</key>
            <string>{308,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e6a5788b76448c2532a5a46f316229b:4e4120ed36ad9902c917340cd529baea:6f57d7171c6bbd144780ef543672a5bb$</string>
            <key>textureFileName</key>
            <string>ss-char.png</string>
        </dict>
    </dict>
</plist>
