<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,3},{30,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,19}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>bat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,313},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>bat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,265},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>boy_atk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,59},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,26},{22,26}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{22,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,469},{16,28}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{16,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,26},{14,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{14,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,265},{16,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,343},{20,26}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{20,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,87},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{26,24}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{26,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,115},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_left5.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,181},{20,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,143},{24,24}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,3},{22,24}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,433},{14,30}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{14,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,3},{14,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{14,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_atk_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,209},{20,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_death1.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,49},{16,22}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{16,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_death2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,31},{22,22}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{22,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_death3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,97},{24,20}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{24,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_death4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,403},{26,20}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{26,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_death5.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,91},{26,16}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{26,16}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_death6.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,121},{26,18}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{26,18}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_death7.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,97},{26,16}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{26,16}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,309},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,311},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,333},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,171},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,199},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,227},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,237},{20,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,69},{20,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_target_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,145},{20,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,159},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,187},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,265},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,217},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,217},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,433},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,339},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,357},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boy_walk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,357},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>char1d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,134},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,265},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,461},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,431},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,459},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,321},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,377},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,403},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,431},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1u1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,459},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1u2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,422},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>char1u3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,450},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>target_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,478},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>target_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,478},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>zomb_atk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,255},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,283},{22,26}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{22,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,59},{16,28}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{16,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,127},{14,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{14,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,293},{16,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,373},{20,26}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{20,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,78},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,31},{26,24}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{26,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,283},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_left5.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,169},{20,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,106},{24,24}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,21},{22,24}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,467},{14,30}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{14,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,433},{14,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{14,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_atk_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,193},{20,24}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_death1.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,58},{16,22}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{16,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_death2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,57},{22,22}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{22,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_death3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,121},{24,20}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{24,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_death4.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,151},{26,20}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{26,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_death5.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,235},{26,16}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{26,16}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_death6.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,235},{26,18}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{26,18}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_death7.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,245},{26,16}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{26,16}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,355},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,383},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,411},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,151},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,179},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,207},{24,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,283},{20,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,285},{20,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_target_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,311},{20,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,385},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,403},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,331},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,349},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,349},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,394},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,394},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,422},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zomb_walk_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,450},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{14,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss-char.png</string>
            <key>size</key>
            <string>{128,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e0d1cc7b63600dcf08cf0020d560a57:b20bef72354e500e36b2425f0db4744e:6f57d7171c6bbd144780ef543672a5bb$</string>
            <key>textureFileName</key>
            <string>ss-char.png</string>
        </dict>
    </dict>
</plist>
