<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviour</key>
	<string>bat</string>
	<key>category</key>
	<dict>
		<key>mood</key>
		<string>hostile</string>
		<key>sleep</key>
		<string>bird</string>
	</dict>
	<key>stats</key>
	<dict>
		<key>move</key>
		<dict>
			<key>orientation</key>
			<false/>
			<key>speed</key>
			<string>40</string>
			<key>deceleration</key>
			<string>0.2</string>
			<key>acceleration</key>
			<string>0.3</string>
		</dict>
		<key>sight</key>
		<dict>
			<key>range</key>
			<string>80</string>
		</dict>
		<key>melee</key>
		<dict>
			<key>type</key>
			<string>self</string>
			<key>range</key>
			<string>2</string>
			<key>anim_key</key>
			<string>atk</string>
		</dict>
		<key>health</key>
		<string>3</string>
	</dict>
	<key>collision</key>
	<dict>
		<key>rect</key>
		<string>9,1,13,12</string>
		<key>cat</key>
		<string>flyable</string>
	</dict>
	<key>animations</key>
	<dict>
		<key>_sleep</key>
		<dict>
			<key>intro</key>
			<dict>
				<key>format</key>
				<string>bat_sleep%d.png</string>
				<key>delay</key>
				<string>0.1</string>
				<key>frameCount</key>
				<integer>7</integer>
			</dict>
			<key>during</key>
			<dict>
				<key>format</key>
				<string>bat_sleep7.png</string>
				<key>frameCount</key>
				<integer>1</integer>
			</dict>
			<key>outro</key>
			<dict>
				<key>format</key>
				<string>bat_sleep%d.png</string>
				<key>delay</key>
				<string>0.1</string>
				<key>frameCount</key>
				<integer>7</integer>
				<key>frameOrder</key>
				<string>7,6,5,4,3,2,1</string>
			</dict>
		</dict>
		<key>death</key>
		<dict>
			<key>format</key>
			<string>bat_death%d.png</string>
			<key>delay</key>
			<string>0.07</string>
			<key>frameCount</key>
			<integer>7</integer>
		</dict>
		<key>_charge</key>
		<dict>
			<key>load</key>
			<dict>
				<key>format</key>
				<string>bat_atk%d.png</string>
				<key>delay</key>
				<string>0.06</string>
				<key>frameCount</key>
				<integer>4</integer>
				<key>frameOrder</key>
				<string>1,2,3,2</string>
			</dict>
			<key>atk</key>
			<dict>
				<key>format</key>
				<string>bat_atk%d.png</string>
				<key>delay</key>
				<string>0.1</string>
				<key>frameCount</key>
				<integer>4</integer>
				<key>frameOrder</key>
				<string>1,2,3,2</string>
			</dict>
		</dict>
		<key>move</key>
		<dict>
			<key>format</key>
			<string>bat_walk%d.png</string>
			<key>delay</key>
			<string>0.1</string>
			<key>frameCount</key>
			<integer>4</integer>
			<key>frameOrder</key>
			<string>1,2,3,2</string>
		</dict>
		<key>idle</key>
		<dict>
			<key>format</key>
			<string>bat_walk%d.png</string>
			<key>delay</key>
			<string>0.1</string>
			<key>frameCount</key>
			<integer>4</integer>
			<key>frameOrder</key>
			<string>1,2,3,2</string>
		</dict>
	</dict>
</dict>
</plist>
