<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviour</key>
	<dict>
		<key>key</key>
		<string>humanoid</string>
		<key>mood</key>
		<string>friendly</string>
		<key>sleep</key>
		<string>human</string>
	</dict>
	<key>stats</key>
	<dict>
		<key>health</key>
		<string>99</string>
		<key>stamina</key>
		<string>100</string>
		<key>move</key>
		<dict>
			<key>orientation</key>
			<true/>
			<key>speed</key>
			<string>80</string>
			<key>deceleration</key>
			<string>0.2</string>
			<key>acceleration</key>
			<string>0.3</string>
		</dict>
		<key>sight</key>
		<dict>
			<key>range</key>
			<string>75</string>
		</dict>
		<key>melee</key>
		<dict>
			<key>type</key>
			<string>dir</string>
			<key>recoil</key>
			<string>150,0.075</string>
			<key>stamina</key>
			<string>30</string>
			<key>range</key>
			<string>20,30</string>
			<key>anim_key</key>
			<string>atk</string>
			<key>trigger_ratio</key>
			<string>0.5</string>
		</dict>
	</dict>
	<key>collision</key>
	<dict>
		<key>rect</key>
		<string>15,8,11,11</string>
		<key>cat</key>
		<string>walkable</string>
	</dict>
	<key>animations</key>
	<dict>
		<key>death</key>
		<dict>
			<key>format</key>
			<string>boy_death%d.png</string>
			<key>delay</key>
			<string>0.07</string>
			<key>frameCount</key>
			<integer>7</integer>
		</dict>
		<key>idle</key>
		<dict>
			<key>format</key>
			<string>boy_walk_down1.png</string>
			<key>frameCount</key>
			<integer>1</integer>
		</dict>
		<key>_atk</key>
		<dict>
			<key>left</key>
			<dict>
				<key>format</key>
				<string>boy_atk_left%d.png</string>
				<key>delay</key>
				<string>0.07</string>
				<key>frameCount</key>
				<integer>10</integer>
				<key>frameOrder</key>
				<string>1,2,3,4,5,4,3,2,1</string>
			</dict>
			<key>right</key>
			<dict>
				<key>flipX</key>
				<true/>
				<key>format</key>
				<string>boy_atk_left%d.png</string>
				<key>delay</key>
				<string>0.07</string>
				<key>frameCount</key>
				<integer>10</integer>
				<key>frameOrder</key>
				<string>1,2,3,4,5,4,3,2,1</string>
			</dict>
			<key>up</key>
			<dict>
				<key>format</key>
				<string>boy_atk_up%d.png</string>
				<key>delay</key>
				<string>0.07</string>
				<key>frameCount</key>
				<integer>10</integer>
				<key>frameOrder</key>
				<string>1,2,3,4,5,4,3,2,1</string>
			</dict>
			<key>down</key>
			<dict>
				<key>format</key>
				<string>boy_atk_down%d.png</string>
				<key>delay</key>
				<string>0.07</string>
				<key>frameCount</key>
				<integer>10</integer>
				<key>frameOrder</key>
				<string>1,2,3,4,5,4,3,2,1</string>
			</dict>
		</dict>
		<key>_melee</key>
		<dict>
			<key>_move</key>
			<dict>
				<key>left</key>
				<dict>
					<key>format</key>
					<string>boy_melee_left%d.png</string>
					<key>delay</key>
					<string>0.1</string>
					<key>frameCount</key>
					<integer>4</integer>
					<key>frameOrder</key>
					<string>2,1,3,1</string>
				</dict>
				<key>right</key>
				<dict>
					<key>flipX</key>
					<true/>
					<key>format</key>
					<string>boy_melee_left%d.png</string>
					<key>delay</key>
					<string>0.1</string>
					<key>frameCount</key>
					<integer>4</integer>
					<key>frameOrder</key>
					<string>2,1,3,1</string>
				</dict>
				<key>up</key>
				<dict>
					<key>format</key>
					<string>boy_melee_up%d.png</string>
					<key>delay</key>
					<string>0.1</string>
					<key>frameCount</key>
					<integer>4</integer>
					<key>frameOrder</key>
					<string>2,1,3,1</string>
				</dict>
				<key>down</key>
				<dict>
					<key>format</key>
					<string>boy_melee_down%d.png</string>
					<key>delay</key>
					<string>0.1</string>
					<key>frameCount</key>
					<integer>4</integer>
					<key>frameOrder</key>
					<string>2,1,3,1</string>
				</dict>
			</dict>
			<key>_idle</key>
			<dict>
				<key>left</key>
				<dict>
					<key>format</key>
					<string>boy_melee_left1.png</string>
					<key>frameCount</key>
					<integer>1</integer>
				</dict>
				<key>right</key>
				<dict>
					<key>flipX</key>
					<true/>
					<key>format</key>
					<string>boy_melee_left1.png</string>
					<key>frameCount</key>
					<integer>1</integer>
				</dict>
				<key>up</key>
				<dict>
					<key>format</key>
					<string>boy_melee_up1.png</string>
					<key>frameCount</key>
					<integer>1</integer>
				</dict>
				<key>down</key>
				<dict>
					<key>format</key>
					<string>boy_melee_down1.png</string>
					<key>frameCount</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>_walk</key>
		<dict>
			<key>_move</key>
			<dict>
				<key>left</key>
				<dict>
					<key>format</key>
					<string>boy_walk_left%d.png</string>
					<key>delay</key>
					<string>0.1</string>
					<key>frameCount</key>
					<integer>4</integer>
					<key>frameOrder</key>
					<string>2,1,3,1</string>
				</dict>
				<key>right</key>
				<dict>
					<key>flipX</key>
					<true/>
					<key>format</key>
					<string>boy_walk_left%d.png</string>
					<key>delay</key>
					<string>0.1</string>
					<key>frameCount</key>
					<integer>4</integer>
					<key>frameOrder</key>
					<string>2,1,3,1</string>
				</dict>
				<key>up</key>
				<dict>
					<key>format</key>
					<string>boy_walk_up%d.png</string>
					<key>delay</key>
					<string>0.1</string>
					<key>frameCount</key>
					<integer>4</integer>
					<key>frameOrder</key>
					<string>2,1,3,1</string>
				</dict>
				<key>down</key>
				<dict>
					<key>format</key>
					<string>boy_walk_down%d.png</string>
					<key>delay</key>
					<string>0.1</string>
					<key>frameCount</key>
					<integer>4</integer>
					<key>frameOrder</key>
					<string>2,1,3,1</string>
				</dict>
			</dict>
			<key>_idle</key>
			<dict>
				<key>left</key>
				<dict>
					<key>format</key>
					<string>boy_walk_left1.png</string>
					<key>frameCount</key>
					<integer>1</integer>
				</dict>
				<key>right</key>
				<dict>
					<key>flipX</key>
					<true/>
					<key>format</key>
					<string>boy_walk_left1.png</string>
					<key>frameCount</key>
					<integer>1</integer>
				</dict>
				<key>up</key>
				<dict>
					<key>format</key>
					<string>boy_walk_up1.png</string>
					<key>frameCount</key>
					<integer>1</integer>
				</dict>
				<key>down</key>
				<dict>
					<key>format</key>
					<string>boy_walk_down1.png</string>
					<key>frameCount</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
