<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collision</key>
	<dict>
		<key>rect</key>
		<string>1,0,22,16</string>
		<key>cat</key>
		<string>walkable</string>
	</dict>
	<key>interaction</key>
	<dict>
		<key>actionName</key>
		<string>reward</string>
		<key>actionParams</key>
		<string>small_chest</string>
		<key>triggerMode</key>
		<string>once</string>
		<key>prerequisite</key>
		<string>none</string>
		<key>off</key>
		<string>close</string>
		<key>on</key>
		<string>open</string>
	</dict>
	<key>animations</key>
	<dict>
		<key>open</key>
		<dict>
			<key>format</key>
			<string>chest1_%d.png</string>
			<key>delay</key>
			<string>0.075</string>
			<key>frameCount</key>
			<integer>8</integer>
		</dict>
		<key>close</key>
		<dict>
			<key>format</key>
			<string>chest1_%d.png</string>
			<key>delay</key>
			<string>0.075</string>
			<key>frameCount</key>
			<integer>8</integer>
			<key>frameOrder</key>
			<string>8,7,6,5,4,3,2,1</string>
		</dict>
		<key>idle</key>
		<dict>
			<key>format</key>
			<string>chest1_1.png</string>
			<key>frameCount</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
